<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <title>{%  block title %}{% endblock %}</title>
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='editor.md/css/editormd.css')}}">
{% endblock %}
<style>
    body{
        background-image: url("../static/images/wallhaven-mdw81k.jpg")
    }

</style>
<body>
    <div id="header">
        {% block header %}
            <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="{% block status1 %}{% endblock %}"><a href="{{ url_for('front.index') }}">首页</a></li>
                        <li class="{% block status2 %}{% endblock %}"><a href="{{ url_for('front.add_article') }}">发布</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admit <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">我的文章</a></li>
{#                              #这是一条分隔线#}
                            <li role="separator" class="divider"></li>
                            <li><a href="#">注销登录</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>

{% block end %}
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
         <script src="{{url_for('static',filename='editor.md/editormd.js')}}"></script>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(function() {
        var editor = editormd("editor", {
            width: "100%",
            height: "600px",
            // markdown: "xxxx",     // dynamic set Markdown text
            path : "static/editor.md/lib/"  ,// Autoload modules mode, codemirror, marked... dependents libs path
        });
    })
</script>
{% endblock %}
</body>
</html>